.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.criminal {
    border: 1px solid black;
    flex-basis: 15%;
    margin: 15px;
    padding: 5px;
}

#criminal__name {
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: underline;
    padding-bottom: 6px;
    text-align: center;
}

.criminal__detail {
    padding: 2px;
    font-size: 1rem;
}

.criminal__dialog {
    margin: 10px;
    border: 1px solid black;
}