@import "criminal.css";
@import "form.css";
@import "filters.css";
@import "notes.css";
@import "witness.css";

*{
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}